QPushButton{
border:1px solid rgba(0,0,0,25%);
color:rgba(0,0,0,70%);
border-radius:8px;
background-color:rgba(0,0,0,20%);
}


QPushButton:hover{
border:1px solid rgba(0,0,0,50%);
color:rgba(0,0,0,90%);
border-radius:8px;
background-color:rgba(0,0,0,15%);
}


QDialog{

background-color:rgb(236,239,252);
border:1px solid #0078D7
}


QTextBrowser{
background-color:rgb(236,239,252);
border-style:hidden;
}

QScrollBar:vertical{
    width:8px;
    background:rgba(0,0,0,0%);
    margin:0px,0px,0px,0px;
    padding-top:0px;   
    padding-bottom:0px;
}
QScrollBar::handle:vertical
{
    width:8px;
    background:rgba(0,0,0,25%);
    border-radius:4px;   
    min-height:8px;
	
}
QScrollBar::handle:vertical:hover
{
    width:8px;
    background:rgba(0,0,0,50%);  
    border-radius:4px;
    min-height:20;
}



QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical{
    background:rgba(0,0,0,10%);
    border-radius:4px;
}

QScrollBar::add-line:vertical  
{
    height:0px;width:0px;
}
QScrollBar::sub-line:vertical   
{
    height:0px;width:0px;
}
