QPushButton{
border:1px solid rgba(0,0,0,25%);
color:rgba(0,0,0,70%);
border-radius:8px;
background-color:rgba(0,0,0,20%);
}


QPushButton:hover{
border:1px solid rgba(0,0,0,50%);
color:rgba(0,0,0,90%);
border-radius:8px;
background-color:rgba(0,0,0,15%);
}

QMenuBar{
background-color:rgb(236,239,252);
}

QWidget#centralWidget{
background-color:rgb(236,239,252);
/*border:1px solid rgba(0,0,0,50%);*/
}



/*
QMainWindow{
background-color:rgb(38,47,64);
border:1px solid rgb(0,0,0);
}



QToolBar{
	border:0px solid;
	
}

QStatusBar {
    border: 0px solid;
}

QStatusBar::item {
    border: 0px
}*/
